---
import Logo from "./Logo.astro";
---

<footer class="text-center py-6 px-4 sm:px-6 lg:px-8">
  <div class="flex flex-col items-center text-slate-600 text-sm gap-2">
    <p>
      &copy; {new Date().getFullYear()} Thinkmill. All rights reserved.
    </p>
    <p class="flex items-center gap-1">
      <span>Powered by</span><a
        aria-label="Keystatic"
        class="group"
        href="https://keystatic.com"><Logo class="h-4 text-black" /></a
      >
    </p>
  </div>
</footer>
